@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add a subtle scrollbar for a polished look */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #4A5568; /* A neutral gray */
  border-radius: 20px;
}